body {
	font-family: "Roboto Mono", monospace;	
	background-color: black;
	color: navajowhite;
	display: flex;
	flex-direction: row;
}

#main {
	flex-direction: column;
	background-color: red;
}

li {
	display: block;
}
